.message {
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  width: 50%;
  margin-left: auto;
}

.imageAndText img {
  width: 48px;
  height: 48px;
}

.text {
  min-height: 60px;
  text-align: right;
  background-color: #0066CC;
  color: white;
  padding: 8px 25px 8px 13px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 12px;
  position: relative;
  box-shadow: -8px -3px 5px -7px #1D21261A;
}

.text::before {
  height: 12px;
  background-color: #0066CC;
  position: absolute;
  content: '';
  bottom: 0;
  right: -12px;
  left: 0;
  z-index: -1;
  border-bottom-left-radius: 10px;
  box-shadow:
    -1px 2px 2px 0px #1D21261A,
    0px 5px 20px 0px #1D212608;
}

.text::after {
  width: 17px;
  height: 18px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  content: '';
  bottom: 0;
  right: -29px;
  transform-origin: bottom left;
  transform: rotate(-48.2deg);
  border-top-left-radius: 3px 4px;
  z-index: -1;
}

.name {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: white;
  margin-bottom: 3px;
}

.messageText {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word; 
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}

.time {
  font-family: Montserrat;
  text-align: right;
  font-size: 10px;
  font-weight: 600;
  line-height: 12.19px;
  padding-right: 10px;
  margin-top: 5px;
}
