.input:focus {
}

.input {
    width: 100%;
    max-width: 372px;
    height: 36px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
}

.error {
    color: red
}
