.input:focus {
}

.input {
    width: 100%;
    max-width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-top: 24px;
    margin-bottom: 16px;
    padding: 8px 24px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
}

.inputWrapper {
    display: grid;
}

.superInput {
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
}

.error {
    color: red;
    order: -1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
}
