.stand {
    margin-top: 90px;
    margin-bottom: 55px;
    display: grid;
    grid-template-columns: minmax(auto, 484px) auto 1fr;
    column-gap: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    justify-self: end;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.inpustWithErrorText {
    gap: 31px;
}