.radio {
    margin-right: 11px;
    accent-color: black;
    height: 24px;
    width: 24px;
    flex: 0 0 auto;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    align-items: center;
}

.options {
    display: grid;
    row-gap: 17px;
}

.span {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-wrap: nowrap;
}
