.App {
    --header_height: 60px;
}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hw > div:nth-last-child(n + 2) {
    margin-bottom: 24px;
}

.hwTitle {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.hw1-container {
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 37px;
}

.hw2-container {
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 37px;
}

.hw3-container {
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 37px;
}

.hw4-container {
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 37px;
}

.hw6-container {
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 37px;
}

.hw7-container {
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 37px;
}

.hw8-container {
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 37px;
}

.initialMessages {
    display: grid;
    row-gap: 30px;
    margin-bottom: 30px !important;
    margin-top: 24px;
}