.friendMessage {
}

.friendImageAndText {
  display: flex;
  align-items: flex-end;
  width: 50%;
  margin-right: auto;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
}

.friendText {
  min-height: 60px;
  background-color: #F5F7FB;
  padding: 8px 13px 8px 25px;
  margin-left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  box-shadow: 8px -3px 5px -7px #1D21261A;
}

.friendText::before {
  height: 12px;
  background-color: #F5F7FB;
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  left: -12px;
  z-index: -1;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 1px 5px 0px #1D21261A
}

.friendText::after {
  width: 17px;
  height: 18px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  content: '';
  bottom: 0;
  left: -29px;
  transform-origin: bottom right;
  transform: rotate(48.2deg);
  border-top-right-radius: 3px 4px;
  z-index: -1;
}

.friendName {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  margin-bottom: 3px; 
}

.friendMessageText {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  font-family: Montserrat;
}

.friendTime {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  line-height: 12.19px;
  padding-left: 10px;
  margin-top: 5px;
}
