.greetingForm {
    min-height: 305px;
}

.inputAndButtonContainer {
    display: flex;
    column-gap: 12px;
}

.error {
    color: red;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    margin-top: 10px;
}

.input {
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    padding: 8px 12px;
    min-width: 372px;
}

.input:focus {
}

.errorInput {
    border: 1px solid red;
}

.button {
    width: 78px;
    background-color: #0066CC;
    color: white;
    text-transform: capitalize;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 36px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.text {
    margin: 31px 0 9px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    color: #00000080;
}

.greeting {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    margin-top: 10px;
}
