.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    column-gap: 12px;
}

.error {
}

.input {
    height: 36px;
}

.input:focus {
}

.errorInput {
}

.button {
    width: 78px;
    background-color: #0066CC;
    color: white;
    text-transform: capitalize;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 36px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
