.sendForm {
  display: flex;
  column-gap: 44px;
  margin-top: 56px;
  min-height: 40px;
  position: relative;
  margin-bottom: 35px;
}

.textarea {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;

  background-color: #F5F7FB;
  max-height: 80px;
  min-height: 100%;
  padding: 12px 24px;

  border-radius: 20px;
  border: none;

  resize: none;
  overflow: hidden;
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 164px;
  box-shadow: 0px 1px 2px #1D21261A;
}

.textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
}

.button {
  width: 120px;
  border: none;
  color: white;
  background-color: #0066CC;
  height: 40px;
  align-self: flex-end;
  margin-left: auto;
  border-radius: 20px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
}

.button:hover {

}
.button:active {

}
