.burgerMenuIcon {
    cursor: pointer;
}

.header {
    height: 60px;
    margin-bottom: 47px;
    box-shadow: 
        0px 0px 2px 0px #1D21261A,
        0px 0px 40px 0px #1D212621;
}

.headerContainer {
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
}

.header > img {
    width: 24px;
    height: 24px;
}

.header h1 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
}
