.container {
    margin-top: 69px;
    margin-bottom: 189px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.number {
    width: 28px;
    margin-right: 5px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.maxNumber {
    margin-right: 0px;
    margin-left: 22px;
}